<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/home.css">
   <title>HOME</title>
   {{>header}}
</head>
<body>
    {{>navbar}}
    <center>
        <h1 style="font-size: 50px;">Attendance Report  </h1>
        <h2 style="color: rgb(157, 243, 20);"><b>Attendance matters, Each Day, Every Day!</b></h2>
      </center>
        <div style="position:fixed;left:230px;top:180px;" id="epath">
            <center><h2>"Eighty percent of success is showing up ! "</h2></center>
            <p><font size="4">Attendance is one of the most important aspect in every student's life.Attending today leads 
                to achieving tomorrow.Attendance Report is an application which is developed to make this process of 
                attendance logging and tracking easy for both teachers and students. </font>
            </p>
        </div>
        <img id="img1"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ3jR4iEDCwVA4u7TlS7Bn9M3h0O7xAeytdw&usqp=CAU" />
        <br>
        <div style="position:fixed;left:10px;top:470px;" id="epath1">
            <center><h2>"There is no time like present,and no substitute for being present !"</h2></center>
            <p>
                <font size="4">Attendance Report can be used both by students and teachers . The teachers can login with their credentials 
                    be able to obtain the attendance statistics or just update the attendance for that particular day.
                    The students can also login with their credentials and view their attendance status and 
                    statistics to keep track of their progress. </font>
            </p>
        </div>
        <br><br>
        <img id="img2"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ3jR4iEDCwVA4u7TlS7Bn9M3h0O7xAeytdw&usqp=CAU" align="right"/>
</body>
</html>