<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Attendance</title>
   <link rel="stylesheet" href="css/student_page.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="height:50px;" >
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button" style="width:49% ;color:white;font-size:15px;" onclick="window.location.href='home.hbs'">Home</button>&nbsp;
      <button class="btn btn-outline-success me-2" type="button"style="width:49%;color:white;font-size:15px;" onclick="window.location.href='login.hbs'" >Logout</button>
    </form>
  </nav>
    <center>
        <h1 style="font-size: 50px;">Attendance Report  </h1>
        <h2 style="color: rgb(157, 243, 20);"><b>Attendance matters, Each Day, Every Day!</b></h2>
        <br><br>
        <h1 style="font-size:50px; font-color:rgb(120, 52, 146)"> Investment in Knowledge pays the best Interest !! </h1> 
        <br>

        <h2 style="color: rgb(228, 243, 20);">Attendance reports show not just a number it also shows how perseverant you are !</h2>
        <h2 style="color: rgb(20, 243, 206);">~: To check your Attendance status :~</h2>
       <a href="/student_view.hbs">
       <img class="image"src="http://www.clker.com/cliparts/2/5/a/d/12284318241279926958Rolcol_Click_Me.svg.hi.png" /></a>
       

       {{!-- <img src="https://image.freepik.com/free-vector/eyeball-icon-image_24911-22723.jpg" > --}}
{{!-- <figure id="fig2"> --}}
    {{!-- <img src="https://image.freepik.com/free-vector/eyeball-icon-image_24911-22723.jpg" class="img-fill">
    <figcaption>View</figcaption>
</figure></a> --}}
</center>
</body>
</html>